
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
/* .mainContainer {
    width: 900px;
} */


.myBox {
    min-width: 90px;
    min-height: 90px;
}

.loginButton {
    min-width: 90px;
    min-height: 90px;
    background-color: darkgrey;
}

.pink {
    color: rgb(243, 110, 132)
}

.purple {
    color: purple;
}

boardButton {
    background-color: rgba(128, 128, 128, 0);
}


button:hover {
    border: 3px solid rgba(243, 110, 132, 0.355);
}